* {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
}


button, svg {
  display: block;
}

svg text {
  font-family: "Fira Code";
  font-weight: bold;
  text-transform: uppercase;
  stroke: black;
  stroke-width: 2px;
  fill: gray;
}
